body.light-mode {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .dark-mode .navbar, .dark-mode .form-inline, .dark-mode .dropdown-menu {
    background-color: #343a40 !important;
    color: #f8f9fa;
  }
  
  .light-mode .navbar, .light-mode .form-inline, .light-mode .dropdown-menu {
    background-color: #f8f9fa !important;
    color: #343a40;
  }
  